micronaut:
  application:
    name: DiscordBot
  http:
    services:
      eleven-labs:
        url: https://api.elevenlabs.io
        read-timeout: 60s
      open-ai:
        url: https://api.openai.com
        read-timeout: 60s
  caches:
    headlines:
      charset: 'UTF-8'
netty:
  default:
    allocator:
      max-order: 3
discord:
  token: ${DISCORD_BOT_TOKEN}
  audio-receiver-await-time-millis: ${DISCORD_AUDIO_RECEIVER_AWAIT_TIME_MILLIS:5000}
open-ai:
  token: ${OPEN_AI_TOKEN}
  gpt-model: ${$OPEN_AI_GPT_MODEL:gpt-3.5-turbo}
  transcription-model: ${$OPEN_AI_TRANSCRIPTION_MODEL:whisper-1}
  speech-model: ${$OPEN_AI_SPEECH_MODEL:tts-1}
  speech-voice: ${$OPEN_AI_SPEECH_VOICE:alloy}
  language: pl
  default-timeout: 60s
eleven-labs:
  token: ${ELEVEN_LABS_API_KEY}
  default-voice-id: TxGEqnHWrfWFTfGW9XjX
  default-model-id: eleven_multilingual_v2
  default-voice-settings:
    stability: 0.5f
    similarity-boost: 1.0f
logger:
  levels:
    io:
      micronaut:
        http:
          client: DEBUG
